version: "3.9"

services:
  web:
    build: .
    volumes:
      - ./server:/code/server
      - ./client:/code/client
    environment:
      - TEMPLATES_DIR=/code/client/templates
    ports:
      - "8000:8000"

    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
