{% extends "base.html" %}

{% block title %}Профіль{% endblock %}

{% block content %}

<h2>Профіль</h2>

<p><strong>Email:</strong> {{ email }}</p>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

{% if init_keys %}
<script type="module">
import { initKeysIfNeeded } from "/static/js/crypto.js";

window.addEventListener("load", async () => {
    await initKeysIfNeeded();
});
</script>
{% endif %}

<form method="post">
    <label>Ім'я:</label>
    <input name="name" value="{{ name }}">
    <button type="submit">Зберегти</button>
</form>

<br>

<form method="post" action="/logout">
    <button type="submit">Вийти</button>
</form>

{% endblock %}